html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

#titleMain {
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 25px;
    color: white;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
}

#fpsCounter {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 24px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    margin: 0;
    line-height: 24px;
    color: #1a1a1a;;
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
    border-radius: 0 0 0 10px;
}

.menuBar {
    position: fixed;
    left: 10px;
    top: 0px;
    height: 100%;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inner:hover {
        .menuBarItem .text {
            width: unset;
            padding: 2px 5px 2px 5px;
            opacity: 1;
        }
    }

    .menuBarItem {
        $btnSize: 30px;
        width: 46px;
        position: relative;

        .text {
            font-size: 14px;
            position: absolute;
            top: calc(50% - 7.5px);
            left: calc(100% + 6px);
            white-space: nowrap;
            background-color: rgba(255,255,255,0.1);
            padding: 0;
            width: 0;
            font-variant: small-caps;
            transition: opacity 0.1s ease;
            opacity: 0;
            overflow: hidden;
        }
        &:hover .text {
            background-color: rgba(255,255,255,0.3);
        }

        i.fas,i.far {
            $inactiveColor: rgba(255, 255, 255, 0.1);
            $activeColor: rgba(255, 255, 255, 0.3);
            color: $inactiveColor;
            font-size: $btnSize - 3;
            padding: 7px;
            border: 1px solid $inactiveColor;
            box-shadow: 2px 2px $inactiveColor;
            width: $btnSize;
            height: $btnSize;
            text-align: center;
            line-height: $btnSize;
            margin: 3px 0 3px 0;

            &:hover {
                border-color: $activeColor;
                color: $activeColor;
            }
        }
    }
}

.infoWindow {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 100px;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgba(0,0,0,0.9);

    &.focus {
        background-color: #000000;
        .topBar {
            background: rgb(51, 51, 51);
        }
    }

    $topBarHeight: 20px;
    .topBar {
        height: $topBarHeight;
        background: #1e1e1e;

        .close {
            float: right;
            width: $topBarHeight;
            height: $topBarHeight;
            padding: 0px;
            text-align: center;
            line-height: $topBarHeight;
            font-size: 15px;
            color: #bbb;
        }
        .close:hover {
            color: #eee;
        }
        h1 {
            margin: 0;
            margin-left: 0px;
            font-weight: normal;
            font-size: 12px;
            display: inline-block;
            line-height: $topBarHeight;
            color: #bbb;
            font-variant: small-caps;
            margin-left: 5px;
            user-select: none;
        }
    }

    .content{
        color: #c4c4c4;
        height: 100%;
        overflow: auto;
        float: left;
        width: calc(100% - 3px);
        padding: 5px 2px 2px 5px;
        box-sizing: border-box;
        font-size: 15px;
        table {
            border-spacing: 0;
            width: 100%;
            td,th {
                text-align: left;
            }
            tbody tr:nth-child(odd) {
                background-color: rgba(200, 200, 200, 0.1);
            }
        }

        button {
            height: 35px;
            background: #1e1e1e;
            color: white;
            border: 1px solid #373737;
            padding: 0 8px 0 8px;
            font-size: 13px;
            i {
                font-size: 14px;
                margin-right: 8px;
            }
            &.iconOnly i {
                margin: 0;
            }
            &.toggleOn {
                color: #ed4646;
            }

            &.left {
                float: left;
                &:not(:first-child) {
                    margin-right: 8px;
                }
            }

            &.right {
                float: right;
                &:not(:last-child) {
                    margin-left: 8px;
                }
            }

            &:hover:not(:disabled) {
                background: #313131;
            }

            &:disabled {
                color: #6d6d6d;
            }
        }

        .actions {
            margin-top: 20px;
            height: 35px;
        }
    }
    // dragging stuff
    &>.horizontal {
        height: calc(100% - #{$topBarHeight} - 3px);
    }
    .rightDragHandle {
        float: left;
        cursor: e-resize;
        width: 3px;
        height: 100%;
    }
    .btmDragHandle {
        cursor: s-resize;
        height: 3px;
        width: calc(100% - 3px);
        float: left;
    }
    .btmlftDragHandle {
        cursor: se-resize;
        height: 3px;
        width: 3px;
        float: left;
    }
}

.horizontal {
    &>* {
        float: left;
    }
    &.spaced>*{
        margin-left: 8px;
    }
    &.spaced>*:first-child {
        margin-left: 0;
    }
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.infoWindow .content.timeControl {
    .timeRange {
        height: 30px;
        margin: 0;
        width: calc(100% - 38px);
        float: left;
        margin-right: 8px;
    }
    .pause {
        height: 30px;
        width: 30px;
        float: left;
    }
    .setBtn {
        height: 24px;
    }
}



.infoWindow .content.objectBrowser {
    .infoBtnCell {
        text-align: center;
    }
    .infoBtnCell i {
        cursor: pointer;
    }
    .infoBtnCell i:hover {
        color: rgb(171, 204, 231);
    }
    .tableScroll {
        height: calc(100% - 56px);
        overflow: auto;
    }
    .objectTable {
        cursor: default;
    }
    .objectTable tbody tr {
        transition: background-color 0.1s ease;
        td {
            padding: 1px;
        }
    }
    .objectTable tbody tr:hover:not(.highlight) {
        background-color: #282828;
    }
    .objectTable tbody tr.highlight {
        background-color: #06133e;
        td {
            border: 1px solid #0a3575;
            border-left: none;
            border-right: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

form {
    input {
        box-sizing: border-box;
    }
    input[type='text'],input[type='number'],select {
        background: #181818;
        border: 1px solid #333;
        color: inherit;
        padding: 3px 5px 3px 5px;
    }
    .wholeLine {
        display: block;
        width: 100%;
        margin-top: 2px;
    }

    h1.subSection {
        font-variant: small-caps;
        margin: 10px 0 5px 0;
        color: #bbb;
        font-size: 15px;
        font-weight: normal;
        border-bottom: 1px solid #333;
        padding-left: 10px;
    }

    .multiRow {
        display: flex;
        flex-direction: row;
        margin: 5px -4px 0 -4px;

        &>div {
            flex: 1;
            margin: 0 4px 0 4px;
        }
    }

    .stdInputs {
        label {
            margin-top: 5px;
        }
        input {
            display: block;
            width: 100%;
            margin-top: 2px;
        }
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

.objectInfo {
    h2 {
        font-weight: normal;
        margin: 0 0 10px 0;
        font-size: 18px;
        text-align: center;
    }
}

#byLine {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    right: 25px;
    margin: 0;
    color: white;
    text-align: right;

    .fa-heart {
        color: palevioletred
    }

    a {
        color: lightskyblue;
    }

    span {
        display: block;
    }

    #viewOnGH {
        margin-top: 5px;
        font-size: 20px;
    }
}

#licences {
    position: fixed;
    z-index: 11;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    left: calc(50% - 300px);
    width: 600px;
    text-align: center;

    .close {
        text-decoration: underline;
        color: #9e0000;
        cursor: pointer;
        margin-top: 40px;
        display: block;
    }
}

#licenceslink {
    position: fixed;
    color: #515151;
    text-decoration: underline;
    cursor: pointer;
    left: 5px;
    bottom: 5px;
    font-size: 12px;
}

html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}