html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

#titleMain {
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 25px;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
}

#fpsCounter {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 24px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    margin: 0;
    line-height: 24px;
    color: #1a1a1a;;
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
    border-radius: 0 0 0 10px;
}

.menuBar {
    position: fixed;
    left: 10px;
    top: 0px;
    height: 100%;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menuBarItem {
        $btnSize: 30px;
        width: 46px;
        position: relative;

        .text {
            display: none;
            font-size: 14px;
            position: absolute;
            top: calc(50% - 7.5px);
            left: calc(100% + 6px);
            white-space: nowrap;
            background-color: rgba(255,255,255,0.3);
            padding: 2px 5px 2px 5px;
            font-variant: small-caps;
        }
        &:hover .text {
            display: inline-block;
        }

        i.fas,i.far {
            $inactiveColor: rgba(255, 255, 255, 0.1);
            $activeColor: rgba(255, 255, 255, 0.3);
            color: $inactiveColor;
            font-size: $btnSize - 3;
            padding: 7px;
            border: 1px solid $inactiveColor;
            box-shadow: 2px 2px $inactiveColor;
            width: $btnSize;
            height: $btnSize;
            text-align: center;
            line-height: $btnSize;
            margin: 3px 0 3px 0;

            &:hover {
                border-color: $activeColor;
                color: $activeColor;
            }
        }
    }
}

.infoWindow {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba($color: #000000, $alpha: 0.8);

    $topBarHeight: 20px;
    .topBar {
        height: $topBarHeight;
        background: rgba(255,255,255,0.1);

        .close {
            float: right;
            width: $topBarHeight;
            height: $topBarHeight;
            padding: 0px;
            text-align: center;
            line-height: $topBarHeight;
            font-size: 15px;
            color: #bbb;
        }
        h1 {
            margin: 0;
            margin-left: 0px;
            font-weight: normal;
            font-size: 12px;
            display: inline-block;
            line-height: $topBarHeight;
            color: #bbb;
            font-variant: small-caps;
            margin-left: 5px;
            user-select: none;
        }
    }

    .content{
        color: #e7eaea;
        height: 100%;
        overflow: auto;
        float: left;
        width: calc(100% - 3px);
        padding: 5px 2px 2px 2px;
        box-sizing: border-box;
        &.timeControl {
            .timeRange {
                margin: 5px auto;
                display: block;
            }
            p {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    // dragging stuff
    .horizontal {
        height: calc(100% - #{$topBarHeight} - 3px);
    }
    .rightDragHandle {
        float: left;
        cursor: e-resize;
        width: 3px;
        height: 100%;
    }
    .btmDragHandle {
        cursor: s-resize;
        height: 3px;
        width: calc(100% - 3px);
        float: left;
    }
    .btmlftDragHandle {
        cursor: se-resize;
        height: 3px;
        width: 3px;
        float: left;
    }
}